header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 90px;
  width: 1200px;
  margin: auto;
}

.logo {
  height: 64px;
}
.ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: var(--gray-medium);
  text-decoration: none;
  outline: none;
  font-weight: 700;
}

.cart {
  color: var(--accent-color);
}
