header {
  background-color: palegreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
