.nav {
  background-color: var(--accent-color);
  height: 48px;
  display: flex;
}
.link {
  color: white;
  text-decoration: none;
  outline: none;
  font-weight: 700;
}
.ul {
  display: flex;
  width: 1200px;
  margin: auto;
  gap: 50px;
}
