:root {
  --accent-color: #e41717;
  --gray-dark: #202020;
  --gray-medium: #999;
  --gray-light: #f5f5f5;
  --text-color: #101010;
}
body {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
}
